.image-preview {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100vh;
    height: 75vh;
  }
  button {
    background-color: orange;
    margin: 3px;
    border-radius: 5px;
  }
  &-info {
    text-align: center;
    p span i {
      color: red;
    }
  }
}
